img {
    height: 100px;
    width: 100px;
    border: 2px solid black;
}

.card {
    transform: 05s ease;
    cursor: pointer;
    display: inline-block;
    margin-left: 20px;
}

.container:hover > :not(:hover){
    opacity: 0.3;
}

.card:hover{
    transform: scale(1.1);
}